gba-gbav/src/main/resources/wsdl/lrdplus.wsdl

<wsdl:definitions targetNamespace="http://www.bprbzk.nl/GBA/LRDPlus/version1.1"
                  xmlns:impl="http://www.bprbzk.nl/GBA/LRDPlus/version1.1"
                  xmlns:tns1="http://www.bprbzk.nl/GBA/LO3/version1.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
    <!--WSDL created by Apache Axis version: 1.3
 Built on Oct 05, 2005 (05:23:37 EDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://www.bprbzk.nl/GBA/LRDPlus/version1.1"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.bprbzk.nl/GBA/LO3/version1.1"/>
            <element name="vraag">
                <complexType>
                    <sequence>
                        <element name="in0" type="impl:Vraag"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="ArrayOf_xsd_int">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:int"/>
                </sequence>
            </complexType>
            <complexType name="Zoekparameter">
                <sequence>
                    <element name="rubrieknummer" type="xsd:int"/>
                    <element name="zoekwaarde" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOfZoekparameter">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Zoekparameter"/>
                </sequence>
            </complexType>
            <complexType name="Vraag">
                <sequence>
                    <element name="indicatieAdresvraag" nillable="true" type="xsd:byte"/>
                    <element name="indicatieZoekenInHistorie" nillable="true" type="xsd:byte"/>
                    <element name="masker" nillable="true" type="impl:ArrayOf_xsd_int"/>
                    <element name="parameters" nillable="true" type="impl:ArrayOfZoekparameter"/>
                </sequence>
            </complexType>
            <element name="vraagResponse">
                <complexType>
                    <sequence>
                        <element name="vraagReturn" type="impl:Antwoord"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="Resultaat">
                <sequence>
                    <element name="code" type="xsd:int"/>
                    <element name="letter" nillable="true" type="xsd:string"/>
                    <element name="omschrijving" nillable="true" type="xsd:string"/>
                    <element name="referentie" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="Antwoord">
                <sequence>
                    <element name="persoonslijsten" nillable="true" type="tns1:ArrayOf_PL"/>
                    <element name="resultaat" nillable="true" type="impl:Resultaat"/>
                </sequence>
            </complexType>
            <element name="changePassword">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="changePasswordResponse">
                <complexType>
                    <sequence>
                        <element name="changePasswordReturn" type="impl:Resultaat"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema elementFormDefault="qualified" targetNamespace="http://www.bprbzk.nl/GBA/LO3/version1.1"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.bprbzk.nl/GBA/LRDPlus/version1.1"/>
            <complexType name="Element">
                <sequence>
                    <element name="nummer" type="xsd:short"/>
                    <element name="waarde" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOf_Element">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Element"/>
                </sequence>
            </complexType>
            <complexType name="Categorievoorkomen">
                <sequence>
                    <element name="categorienummer" type="xsd:byte"/>
                    <element name="elementen" nillable="true" type="tns1:ArrayOf_Element"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOf_Categorievoorkomen">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Categorievoorkomen"/>
                </sequence>
            </complexType>
            <complexType name="Categoriestapel">
                <sequence>
                    <element name="categorievoorkomens" nillable="true" type="tns1:ArrayOf_Categorievoorkomen"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOf_Categoriestapel">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Categoriestapel"/>
                </sequence>
            </complexType>
            <complexType name="PL">
                <sequence>
                    <element name="categoriestapels" nillable="true" type="tns1:ArrayOf_Categoriestapel"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOf_PL">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:PL"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="vraagRequest">
        <wsdl:part element="impl:vraag" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="changePasswordResponse">
        <wsdl:part element="impl:changePasswordResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="vraagResponse">
        <wsdl:part element="impl:vraagResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="changePasswordRequest">
        <wsdl:part element="impl:changePassword" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="LrdPlus">
        <wsdl:operation name="vraag">
            <wsdl:input message="impl:vraagRequest" name="vraagRequest"/>
            <wsdl:output message="impl:vraagResponse" name="vraagResponse"/>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <wsdl:input message="impl:changePasswordRequest" name="changePasswordRequest"/>
            <wsdl:output message="impl:changePasswordResponse" name="changePasswordResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LrdPlusSoapBinding" type="impl:LrdPlus">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="vraag">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="vraagRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="vraagResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="changePasswordRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changePasswordResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LrdPlusService">
        <wsdl:port binding="impl:LrdPlusSoapBinding" name="LrdPlus">
            <wsdlsoap:address location="http://localhost:8080/gba-v/online/lo3services/adhoc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>