gba-vog/src/main/resources/wsdl/covog.old.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AanvraagNpAPI" targetNamespace="http://covog/AanvraagNpAPI.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://covog/IAanvraagNpAPI.xsd" xmlns:tns="http://covog/AanvraagNpAPI.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://covog/IAanvraagNpAPI.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
      <complexType jdev:packageName="covog.model" name="covog_model_grAanvraag" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
        <all>
          <element name="aanvraagNummer" type="string"/>
          <element name="gemeenteCode" type="string"/>
          <element name="locatieCode" type="string"/>
          <element name="aanvraagdatum" type="string"/>

          <element name="doelCode" type="string"/>
          <element name="toelichtingDoel" type="string"/>
          <element name="indicatiePersisteren" type="string"/>
          <element name="indicatieBijzonderheden" type="string"/>
          <element name="indicatieOmstandigheden" type="string"/>
          <element name="indicatieCovogAdvies" type="string"/>
          <element name="opmerkingGemeente" type="string"/>
          <element name="burgemeestersadvies" type="string"/>
          <element name="onderzoeksPersoonNP" type="ns1:covog_model_grOnderzoeksPersoonNP"/>

          <element name="belanghebbende" type="ns1:covog_model_grBelanghebbende"/>
        </all>
      </complexType>
      <complexType jdev:packageName="covog.model" name="covog_model_grOnderzoeksPersoonNP" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
        <all>
          <element name="geslachtsnaam" type="string"/>
          <element name="functie" type="string"/>
          <element name="voorvoegsel" type="string"/>
          <element name="voornamen" type="string"/>

          <element name="geboortedatum" type="string"/>
          <element name="gemeenteCodeGeboren" type="string"/>
          <element name="geboorteplaatsBuitenland" type="string"/>
          <element name="landCodeGeboren" type="string"/>
          <element name="geslacht" type="string"/>
          <element name="aanschrijfnaam" type="string"/>
          <element name="straat" type="string"/>
          <element name="huisnummer" type="string"/>
          <element name="huisnummerToevoeging" type="string"/>

          <element name="postcode" type="string"/>
          <element name="plaats" type="string"/>
          <element name="landCode" type="string"/>
          <element name="screeningsprofiel" type="string"/>
          <element name="functieaspecten" type="ns1:ArrayOfcovog_model_grFunctieaspect"/>
          <element name="histories" type="ns1:ArrayOfcovog_model_grHistorie"/>
        </all>
      </complexType>
      <complexType name="ArrayOfcovog_model_grFunctieaspect" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

        <complexContent>
          <restriction base="SOAP-ENC:Array">
            <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:covog_model_grFunctieaspect[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType jdev:packageName="covog.model" name="covog_model_grFunctieaspect" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
        <all>
          <element name="functieaspectCode" type="string"/>

        </all>
      </complexType>
      <complexType name="ArrayOfcovog_model_grHistorie" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <complexContent>
          <restriction base="SOAP-ENC:Array">
            <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:covog_model_grHistorie[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType jdev:packageName="covog.model" name="covog_model_grHistorie" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
        <all>
          <element name="geslachtsnaam" type="string"/>
          <element name="voorvoegsel" type="string"/>
          <element name="voornamen" type="string"/>
          <element name="geslacht" type="string"/>
          <element name="geboortedatum" type="string"/>
          <element name="gemeenteCodeGeboren" type="string"/>
          <element name="geboorteplaatsBuitenland" type="string"/>

          <element name="landCodeGeboren" type="string"/>
        </all>
      </complexType>
      <complexType jdev:packageName="covog.model" name="covog_model_grBelanghebbende" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
        <all>
          <element name="naamBelanghebbende" type="string"/>
          <element name="naamVertegenwoordiger" type="string"/>
          <element name="straat" type="string"/>
          <element name="huisnummer" type="string"/>

          <element name="huisnummerToevoeging" type="string"/>
          <element name="postcode" type="string"/>
          <element name="plaats" type="string"/>
          <element name="landCode" type="string"/>
          <element name="telefoon" type="string"/>
        </all>
      </complexType>
    </schema>
  </types>

  <message name="verzendAanvraagNP0Response">
    <part name="return" type="xsd:string">
    </part>
  </message>
  <message name="isAanvraagOntvangen1Response">
    <part name="return" type="xsd:string">
    </part>
  </message>
  <message name="isAanvraagOntvangen1Request">

    <part name="aanvraagNummer" type="xsd:string">
    </part>
    <part name="relatieCode" type="xsd:string">
    </part>
    <part name="identificatieCode" type="xsd:string">
    </part>
  </message>
  <message name="verzendAanvraagNP0Request">
    <part name="relatieCode" type="xsd:string">

    </part>
    <part name="identificatieCode" type="xsd:string">
    </part>
    <part name="aanvraag" type="ns1:covog_model_grAanvraag">
    </part>
  </message>
  <portType name="AanvraagNpAPIPortType">
    <operation name="verzendAanvraagNP">
      <input name="verzendAanvraagNP0Request" message="tns:verzendAanvraagNP0Request">

    </input>
      <output name="verzendAanvraagNP0Response" message="tns:verzendAanvraagNP0Response">
    </output>
    </operation>
    <operation name="isAanvraagOntvangen">
      <input name="isAanvraagOntvangen1Request" message="tns:isAanvraagOntvangen1Request">
    </input>
      <output name="isAanvraagOntvangen1Response" message="tns:isAanvraagOntvangen1Response">
    </output>

    </operation>
  </portType>
  <binding name="AanvraagNpAPIBinding" type="tns:AanvraagNpAPIPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="verzendAanvraagNP">
      <soap:operation soapAction="" style="rpc"/>
      <input name="verzendAanvraagNP0Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="AanvraagNpAPI"/>
      </input>

      <output name="verzendAanvraagNP0Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="AanvraagNpAPI"/>
      </output>
    </operation>
    <operation name="isAanvraagOntvangen">
      <soap:operation soapAction="" style="rpc"/>
      <input name="isAanvraagOntvangen1Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="AanvraagNpAPI"/>
      </input>

      <output name="isAanvraagOntvangen1Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="AanvraagNpAPI"/>
      </output>
    </operation>
  </binding>
  <service name="AanvraagNpAPI">
<documentation>&lt;p&gt;API class om aanvragen te kunnen verzenden, en om statusinformatie erover
   op te kunnen vragen.&lt;/p&gt;

@version $Revision: 1.1 $</documentation>
    <port name="AanvraagNpAPIPort" binding="tns:AanvraagNpAPIBinding">
      <soap:address location="http://127.0.0.1:8080/"/>
    </port>
  </service>
</definitions>
