gba-rdw/src/main/resources/xsd/PROC-0187-08.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PROC-0187-08" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>NATUURL PERS MET RYBEWYZEN EN MAATREGELEN</xs:documentation>
    <xs:documentation>Proces: Raadplegen persoon met evt. rijb op GBA-nummer</xs:documentation>
    <xs:documentation>Functie: Antwoordbericht</xs:documentation>
    <xs:documentation>Versie: 3.0</xs:documentation>
    <xs:documentation>Gegenereerd op 10-01-2018 16:26</xs:documentation>
  </xs:annotation>
  <xs:element name="NAT-P-RYB-MAATR" type="NAT-P-RYB-MAATR" />
  <xs:complexType name="NAT-P-RYB-MAATR">
    <xs:all>
      <xs:element name="ALG-GEG" type="ALG-GEG" />
      <xs:element name="NAT-P-ZOEK-GEG" type="NAT-P-ZOEK-GEG" />
      <xs:element name="NAT-PERSOON-TAB" type="NAT-PERSOON-TAB" />
      <xs:element name="ADRES-NAT-P-TAB" type="ADRES-NAT-P-TAB" />
      <xs:element name="CAT-PERS-TAB" minOccurs="0" type="CAT-PERS-TAB" />
      <xs:element name="UITG-RYB-TAB" minOccurs="0" type="UITG-RYB-TAB" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ALG-GEG">
    <xs:all>
      <xs:element name="GEBR-IDENT" type="GEBR-IDENT" />
      <xs:element name="PROC-IDENT" type="PROC-IDENT" />
      <xs:element name="PROC-FUNC" type="PROC-FUNC" />
      <xs:element name="STAT-RIP" minOccurs="0" type="STAT-RIP" />
      <xs:element name="OPT-STAT-TEKST" minOccurs="0" type="OPT-STAT-TEKST" />
      <xs:element name="STAT-TEKST-RIP" minOccurs="0" type="STAT-TEKST-RIP" />
      <xs:element name="INFO-GEBR" minOccurs="0" type="INFO-GEBR" />
      <xs:element name="KL-NR-EXT-TOEG" minOccurs="0" type="KLANT-NR-EXT" />
      <xs:element name="NETW-EXT-TOEG" minOccurs="0" type="NETWERK-EXT" />
      <xs:element name="EXT-DIENSTV-ID" minOccurs="0" type="EXT-DIENSTV-ID" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="NAT-P-ZOEK-GEG">
    <xs:all>
      <xs:element name="GBA-NR-NP-A" type="GBA-NR" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="NAT-PERSOON-TAB">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NAT-PERSOON-GEG" type="NAT-PERSOON-GEG" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NAT-PERSOON-GEG">
    <xs:all>
      <xs:element name="NAT-PERS-SL" type="NAT-PERS-SL" />
      <xs:element name="B-DAT-NAT-P-GEG" type="DATUM-EJMD" />
      <xs:element name="GBA-NR-NAT-P" minOccurs="0" type="GBA-NR" />
      <xs:element name="NATIONAL-PERS" minOccurs="0" type="NATIONAL-PERS" />
      <xs:element name="ISO-NAT-CODE-NP" minOccurs="0" type="ISO-NAT-CODE" />
      <xs:element name="FISC-NR-NAT-P" minOccurs="0" type="FISC-NR-NAT-P" />
      <xs:element name="GESL-NAAM-NAT-P" type="GESL-NAAM" />
      <xs:element name="VOOR-VOEG-NAT-P" minOccurs="0" type="VOOR-VOEG-DIA" />
      <xs:element name="VOOR-LET-NAT-P" minOccurs="0" type="VOOR-LET" />
      <xs:element name="ADEL-PRED-NAT-P" minOccurs="0" type="ADEL-PRED" />
      <xs:element name="VOOR-NAAM-NAT-P" minOccurs="0" type="VOOR-NAAM" />
      <xs:element name="BURG-ST-NAT-P" minOccurs="0" type="BURG-STAAT" />
      <xs:element name="NAAM-GEBR-NAT-P" minOccurs="0" type="AAND-NAAM-GEBR" />
      <xs:element name="GESL-NAAM-ECHTG" minOccurs="0" type="GESL-NAAM" />
      <xs:element name="VOOR-VOEG-ECHTG" minOccurs="0" type="VOOR-VOEG-DIA" />
      <xs:element name="ADEL-PRED-ECHTG" minOccurs="0" type="ADEL-PRED" />
      <xs:element name="GESL-NAAM-NP-D" minOccurs="0" type="GESL-NAAM-DIAKR" />
      <xs:element name="VOOR-VOEG-NP-D" minOccurs="0" type="VOOR-VOEG-DIAKR" />
      <xs:element name="VOOR-LET-NP-D" minOccurs="0" type="VOOR-LET-DIAKR" />
      <xs:element name="VOOR-NAAM-NP-D" minOccurs="0" type="VOOR-NAAM-DIAKR" />
      <xs:element name="GESL-NAAM-E-D" minOccurs="0" type="GESL-NAAM-DIAKR" />
      <xs:element name="VOOR-VOEG-E-D" minOccurs="0" type="VOOR-VOEG-DIAKR" />
      <xs:element name="SRT-AUT-GEB-PL" minOccurs="0" type="SOORT-AUTOR" />
      <xs:element name="AUTOR-C-GEB-PL" minOccurs="0" type="AUTOR-C-GEB-PL" />
      <xs:element name="GEMEENTE-GEB-PL" minOccurs="0" type="TEKST-24" />
      <xs:element name="GEM-GEB-PL-DIA" minOccurs="0" type="NAAM-GEM-DIA" />
      <xs:element name="LAND-C-ISO-GEB" minOccurs="0" type="LAND-CODE-ISO-3" />
      <xs:element name="GEB-PL-BUITENL" minOccurs="0" type="GEB-PL-BUITENL" />
      <xs:element name="GEB-PL-BUIT-DIA" minOccurs="0" type="GEB-PL-BUIT-DIA" />
      <xs:element name="GEB-DAT-NAT-P" type="DATUM-EJMD" />
      <xs:element name="VOORL-REG-IND" minOccurs="0" type="INDIC-JN" />
      <xs:element name="MAATREGEL-IND" minOccurs="0" type="INDIC-JN" />
      <xs:element name="EIND-DAT-NAT-P" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="REDEN-EIND-NP" minOccurs="0" type="REDEN-EIND-NP" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ADRES-NAT-P-TAB">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ADRES-NAT-P-GEG" type="ADRES-NAT-P-GEG" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ADRES-NAT-P-GEG">
    <xs:all>
      <xs:element name="BEGIN-DAT-ADR" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="HUIS-NR-NAT-P" minOccurs="0" type="HUIS-NR-NUM" />
      <xs:element name="HUIS-TV-NAT-P" minOccurs="0" type="HUIS-NR-TOEV" />
      <xs:element name="WW-AB-VERW-NP" minOccurs="0" type="WW-AB-VERW" />
      <xs:element name="POSTC-N-NAT-P" minOccurs="0" type="POSTC-NUM" />
      <xs:element name="POSTC-A-NAT-P" minOccurs="0" type="POSTC-ALF" />
      <xs:element name="STRAAT-NAT-P" minOccurs="0" type="STRAAT-NAAM" />
      <xs:element name="WOONPL-NAT-P" minOccurs="0" type="WOONPL-NAAM" />
      <xs:element name="LOC-REG-NAT-P" minOccurs="0" type="ADRES-REGEL" />
      <xs:element name="LOC-REG-NP-DIA" minOccurs="0" type="ADRES-REGEL-DIA" />
      <xs:element name="STRAAT-NP-DIA" minOccurs="0" type="STRAAT-NAAM-DIA" />
      <xs:element name="WOONPL-NP-DIA" minOccurs="0" type="WOONPL-NAAM-DIA" />
      <xs:element name="LAND-CODE-NAT-P" minOccurs="0" type="LAND-CODE" />
      <xs:element name="LAND-C-ISO-NP" minOccurs="0" type="LAND-CODE-ISO-3" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CAT-PERS-TAB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAT-PERS-GEG" type="CAT-PERS-GEG" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CAT-PERS-GEG">
    <xs:all>
      <xs:element name="RYB-CAT-P" minOccurs="0" type="RYB-CATEGORIE" />
      <xs:element name="EERST-AFG-DAT-C" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="SRT-E-AFG-DAT-C" minOccurs="0" type="SRT-E-AFG-DAT-C" />
      <xs:element name="OMGEW-RYB-NR" minOccurs="0" type="OMGEW-RYB-NR" />
      <xs:element name="LAND-CODE-OMW-C" minOccurs="0" type="LAND-CODE" />
      <xs:element name="LAND-C-VT-OMW-C" minOccurs="0" type="LAND-CODE-VRTG" />
      <xs:element name="AUTOM-CAT-IND" minOccurs="0" type="INDIC-JN" />
      <xs:element name="MED-VERKL-IND-C" minOccurs="0" type="INDIC-JN" />
      <xs:element name="BEP-VERM-CAT" minOccurs="0" type="BEP-VERM-CAT" />
      <xs:element name="G-VERKL-IND" minOccurs="0" type="INDIC-JN" />
      <xs:element name="REG-DAT-G-IND" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="AUTOR-C-G-IND" minOccurs="0" type="AUTOR-CODE" />
      <xs:element name="NAAM-GEM-G-IND" minOccurs="0" type="NAAM-AUTOR" />
      <xs:element name="NM-GEM-G-IND-D" minOccurs="0" type="NAAM-AUTOR-DIA" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="UITG-RYB-TAB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UITG-RYB-GEG" type="UITG-RYB-GEG" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UITG-RYB-GEG">
    <xs:all>
      <xs:element name="RYB-GEG" minOccurs="0" type="RYB-GEG" />
      <xs:element name="CAT-RYB-TAB" minOccurs="0" type="CAT-RYB-TAB" />
      <xs:element name="TECH-VOORZ-TAB" minOccurs="0" type="TECH-VOORZ-TAB" />
      <xs:element name="VERBLYF-RYB-GEG" minOccurs="0" type="VERBLYF-RYB-GEG" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="RYB-GEG">
    <xs:all>
      <xs:element name="RYB-NR" minOccurs="0" type="RYB-NR" />
      <xs:element name="AFGIFTE-DAT-RYB" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="SRT-AUT-AFG" minOccurs="0" type="SOORT-AUTOR" />
      <xs:element name="AUTOR-CODE-AFG" minOccurs="0" type="AUTOR-CODE-AFG" />
      <xs:element name="NAAM-AUT-AFG" minOccurs="0" type="NAAM-AUTOR" />
      <xs:element name="NAAM-AFG-DIA" minOccurs="0" type="NAAM-AUTOR-DIA" />
      <xs:element name="SRT-AUT-VERL-D" minOccurs="0" type="SOORT-AUTOR" />
      <xs:element name="AUTOR-C-VERL-D" minOccurs="0" type="AUTOR-CODE-RYB" />
      <xs:element name="NAAM-AUT-VERL-D" minOccurs="0" type="NAAM-AUTOR" />
      <xs:element name="NAAM-VERL-D-DIA" minOccurs="0" type="NAAM-AUTOR-DIA" />
      <xs:element name="VERL-DIEFST-DAT" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="PROC-V-VERL-D" minOccurs="0" type="PROC-VERBAAL-NR" />
      <xs:element name="VERVANG-RYB-NR" minOccurs="0" type="RYB-NR-LANG" />
      <xs:element name="ERK-RYB-NR" minOccurs="0" type="RYB-NR-LANG" />
      <xs:element name="ERK-RYB-DAT" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="LAND-CODE-ERK" minOccurs="0" type="LAND-CODE" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CAT-RYB-TAB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAT-RYB-GEG" type="CAT-RYB-GEG" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CAT-RYB-GEG">
    <xs:all>
      <xs:element name="RYB-CAT-R" minOccurs="0" type="RYB-CATEGORIE" />
      <xs:element name="EIND-GELD-DAT-C" minOccurs="0" type="DATUM-EJMD" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TECH-VOORZ-TAB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TECH-VOORZ-GEG" type="TECH-VOORZ-GEG" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TECH-VOORZ-GEG">
    <xs:all>
      <xs:element name="TECH-VOLG-NR" minOccurs="0" type="TECH-VOLG-NR" />
      <xs:element name="TECH-VOORZ-VRTG" minOccurs="0" type="TECH-VOORZ-VRTG" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="VERBLYF-RYB-GEG">
    <xs:all>
      <xs:element name="ONTV-RYB-DAT" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="ONTV-RYB-TYD" minOccurs="0" type="TYD-UM" />
      <xs:element name="SRT-AUT-ONTV" minOccurs="0" type="SOORT-AUTOR" />
      <xs:element name="AUTOR-CODE-ONTV" minOccurs="0" type="AUTOR-CODE-RYB" />
      <xs:element name="NAAM-AUT-ONTV" minOccurs="0" type="NAAM-AUTOR" />
      <xs:element name="NAAM-ONTV-DIA" minOccurs="0" type="NAAM-AUTOR-DIA" />
      <xs:element name="KORPS-CODE-ONTV" minOccurs="0" type="KORPS-CODE" />
      <xs:element name="VERZ-DAT-RYB" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="SRT-AUT-VERZ" minOccurs="0" type="SOORT-AUTOR" />
      <xs:element name="AUTOR-CODE-VERZ" minOccurs="0" type="AUTOR-CODE-RYB" />
      <xs:element name="NAAM-AUT-VERZ" minOccurs="0" type="NAAM-AUTOR" />
      <xs:element name="NAAM-VERZ-DIA" minOccurs="0" type="NAAM-AUTOR-DIA" />
      <xs:element name="KORPS-CODE-VERZ" minOccurs="0" type="KORPS-CODE" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="AAND-NAAM-GEBR">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ADEL-PRED">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ADRES-REGEL">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ADRES-REGEL-DIA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AUTOR-C-GEB-PL">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AUTOR-CODE">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AUTOR-CODE-AFG">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AUTOR-CODE-RYB">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BEP-VERM-CAT">
    <xs:restriction base="xs:string">
      <xs:maxLength value="72" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BURG-STAAT">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DATUM-EJMD">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXT-DIENSTV-ID">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FISC-NR-NAT-P">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GBA-NR">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GEB-PL-BUIT-DIA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GEB-PL-BUITENL">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GEBR-IDENT">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GESL-NAAM">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GESL-NAAM-DIAKR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HUIS-NR-NUM">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HUIS-NR-TOEV">
    <xs:restriction base="xs:string">
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="INDIC-JN">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="INFO-GEBR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="52" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISO-NAT-CODE">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KLANT-NR-EXT">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KORPS-CODE">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LAND-CODE">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LAND-CODE-ISO-3">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LAND-CODE-VRTG">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NAAM-AUTOR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NAAM-AUTOR-DIA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NAAM-GEM-DIA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NATIONAL-PERS">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NAT-PERS-SL">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NETWERK-EXT">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OMGEW-RYB-NR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OPT-STAT-TEKST">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="POSTC-ALF">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="POSTC-NUM">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PROC-FUNC">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PROC-IDENT">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PROC-VERBAAL-NR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="REDEN-EIND-NP">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RYB-CATEGORIE">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RYB-NR">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RYB-NR-LANG">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SOORT-AUTOR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SRT-E-AFG-DAT-C">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="STAT-RIP">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="STAT-TEKST-RIP">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="STRAAT-NAAM">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="STRAAT-NAAM-DIA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TECH-VOLG-NR">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TECH-VOORZ-VRTG">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TEKST-24">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TYD-UM">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOOR-LET">
    <xs:restriction base="xs:string">
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOOR-LET-DIAKR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOOR-NAAM">
    <xs:restriction base="xs:string">
      <xs:maxLength value="28" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOOR-NAAM-DIAKR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="28" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOOR-VOEG-DIA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOOR-VOEG-DIAKR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WOONPL-NAAM">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WOONPL-NAAM-DIA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WW-AB-VERW">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
