gba-rdw/src/main/resources/xsd/PROC-0191-08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:annotation>
  <xs:documentation>Bericht: BEVRAGING BROMF CERTIFICAAT- EN PERSOONSGEGEVENS OP SL</xs:documentation>
  <xs:documentation>Proces: Raadpl pers-,bromf cert- en ontz geg op pers sleut</xs:documentation>
  <xs:documentation>Functie: Antwoordbericht</xs:documentation>
  <xs:documentation> Versie: 3.0</xs:documentation>
  <xs:documentation>Gegenereerd op 21-03-2011 10:08</xs:documentation>
 </xs:annotation>

 <xs:element name="BR-CERT-OP-SL" type="BR-CERT-OP-SL"/>

 <xs:complexType name="BR-CERT-OP-SL">
  <xs:all>
   <xs:element name="ALG-GEG" type="ALG-GEG"/>
   <xs:element name="NAT-P-ZOEK-GEG" type="NAT-P-ZOEK-GEG"/>
   <xs:element name="BROMF-CERT-TAB" minOccurs="0" type="BROMF-CERT-TAB"/>
   <xs:element name="NAT-PERSOON-TAB" type="NAT-PERSOON-TAB"/>
   <xs:element name="ADRES-NAT-P-TAB" type="ADRES-NAT-P-TAB"/>
   <xs:element name="ONTZEG-PER-TAB" minOccurs="0" type="ONTZEG-PER-TAB"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="ALG-GEG">
  <xs:all>
   <xs:element name="GEBR-IDENT" type="GEBR-IDENT"/>
   <xs:element name="PROC-IDENT" type="PROC-IDENT"/>
   <xs:element name="PROC-FUNC" type="PROC-FUNC"/>
   <xs:element name="STAT-RIP" minOccurs="0" type="STAT-RIP"/>
   <xs:element name="OPT-STAT-TEKST" minOccurs="0" type="OPT-STAT-TEKST"/>
   <xs:element name="STAT-TEKST-RIP" minOccurs="0" type="STAT-TEKST-RIP"/>
   <xs:element name="INFO-GEBR" minOccurs="0" type="INFO-GEBR"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="NAT-P-ZOEK-GEG">
  <xs:all>
   <xs:element name="NAT-PERS-SL-A" type="NAT-PERS-SL"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="BROMF-CERT-TAB">
  <xs:sequence>
   <xs:element name="BROMF-CERT-GEG" minOccurs="0" maxOccurs="unbounded" type="BROMF-CERT-GEG"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="NAT-PERSOON-TAB">
  <xs:sequence>
   <xs:element name="NAT-PERSOON-GEG" maxOccurs="unbounded" type="NAT-PERSOON-GEG"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="ADRES-NAT-P-TAB">
  <xs:sequence>
   <xs:element name="ADRES-NAT-P-GEG" maxOccurs="unbounded" type="ADRES-NAT-P-GEG"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="ONTZEG-PER-TAB">
  <xs:sequence>
   <xs:element name="ONTZEG-PER-GEG" minOccurs="0" maxOccurs="unbounded" type="ONTZEG-PER-GEG"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="BROMF-CERT-GEG">
  <xs:all>
   <xs:element name="BROMF-CERT-NR" minOccurs="0" type="BROMF-CERT-NR"/>
   <xs:element name="AFGIFTE-DAT-BC" minOccurs="0" type="DATUM-EJMD"/>
   <xs:element name="ONGELD-DAT-BC" minOccurs="0" type="DATUM-EJMD"/>
   <xs:element name="ONGELD-CODE-BC" minOccurs="0" type="ONGELD-CODE-BC"/>
   <xs:element name="INLEV-DAT-BC" minOccurs="0" type="DATUM-EJMD"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="NAT-PERSOON-GEG">
  <xs:all>
   <xs:element name="NAT-PERS-SL" type="NAT-PERS-SL"/>
   <xs:element name="B-DAT-NAT-P-GEG" minOccurs="0" type="DATUM-EJMD"/>
   <xs:element name="GESL-NAAM-NAT-P" type="GESL-NAAM"/>
   <xs:element name="VOOR-VOEG-NAT-P" minOccurs="0" type="VOOR-VOEG-DIA"/>
   <xs:element name="VOOR-LET-NAT-P" minOccurs="0" type="VOOR-LET"/>
   <xs:element name="VOOR-NAAM-NAT-P" minOccurs="0" type="VOOR-NAAM"/>
   <xs:element name="BURG-ST-NAT-P" minOccurs="0" type="BURG-STAAT"/>
   <xs:element name="NAAM-GEBR-NAT-P" type="AAND-NAAM-GEBR"/>
   <xs:element name="GESL-NAAM-ECHTG" minOccurs="0" type="GESL-NAAM"/>
   <xs:element name="VOOR-VOEG-ECHTG" minOccurs="0" type="VOOR-VOEG-DIA"/>
   <xs:element name="GESL-NAAM-NP-D" minOccurs="0" type="GESL-NAAM-DIAKR"/>
   <xs:element name="VOOR-VOEG-NP-D" minOccurs="0" type="VOOR-VOEG-DIAKR"/>
   <xs:element name="VOOR-LET-NP-D" minOccurs="0" type="VOOR-LET-DIAKR"/>
   <xs:element name="VOOR-NAAM-NP-D" minOccurs="0" type="VOOR-NAAM-DIAKR"/>
   <xs:element name="GESL-NAAM-E-D" minOccurs="0" type="GESL-NAAM-DIAKR"/>
   <xs:element name="VOOR-VOEG-E-D" minOccurs="0" type="VOOR-VOEG-DIAKR"/>
   <xs:element name="SRT-AUT-GEB-PL" minOccurs="0" type="SOORT-AUTOR"/>
   <xs:element name="AUTOR-C-GEB-PL" minOccurs="0" type="AUTOR-C-GEB-PL"/>
   <xs:element name="GEMEENTE-GEB-PL" minOccurs="0" type="TEKST-24"/>
   <xs:element name="GEM-GEB-PL-DIA" minOccurs="0" type="NAAM-GEM-DIA"/>
   <xs:element name="LAND-C-ISO-GEB" minOccurs="0" type="LAND-CODE-ISO-3"/>
   <xs:element name="GEB-PL-BUITENL" minOccurs="0" type="GEB-PL-BUITENL"/>
   <xs:element name="GEB-PL-BUIT-DIA" minOccurs="0" type="GEB-PL-BUIT-DIA"/>
   <xs:element name="GEB-DAT-NAT-P" type="DATUM-EJMD"/>
   <xs:element name="EIND-DAT-NAT-P" minOccurs="0" type="DATUM-EJMD"/>
   <xs:element name="REDEN-EIND-NP" minOccurs="0" type="REDEN-EIND-NP"/>
   <xs:element name="VOORL-REG-IND" type="INDIC-JN"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="ADRES-NAT-P-GEG">
  <xs:all>
   <xs:element name="BEGIN-DAT-ADR" minOccurs="0" type="DATUM-EJMD"/>
   <xs:element name="HUIS-NR-NAT-P" minOccurs="0" type="HUIS-NR-NUM"/>
   <xs:element name="HUIS-TV-NAT-P" minOccurs="0" type="HUIS-NR-TOEV"/>
   <xs:element name="WW-AB-VERW-NP" minOccurs="0" type="WW-AB-VERW"/>
   <xs:element name="POSTC-N-NAT-P" minOccurs="0" type="POSTC-NUM"/>
   <xs:element name="POSTC-A-NAT-P" minOccurs="0" type="POSTC-ALF"/>
   <xs:element name="STRAAT-NAT-P" minOccurs="0" type="STRAAT-NAAM"/>
   <xs:element name="WOONPL-NAT-P" minOccurs="0" type="WOONPL-NAAM"/>
   <xs:element name="LOC-REG-NAT-P" minOccurs="0" type="ADRES-REGEL"/>
   <xs:element name="LOC-REG-NP-DIA" minOccurs="0" type="ADRES-REGEL-DIA"/>
   <xs:element name="STRAAT-NP-DIA" minOccurs="0" type="STRAAT-NAAM-DIA"/>
   <xs:element name="WOONPL-NP-DIA" minOccurs="0" type="WOONPL-NAAM-DIA"/>
   <xs:element name="LAND-CODE-NAT-P" minOccurs="0" type="LAND-CODE"/>
   <xs:element name="LAND-C-ISO-NP" minOccurs="0" type="LAND-CODE-ISO-3"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="ONTZEG-PER-GEG">
  <xs:all>
   <xs:element name="ONTZEG-DAT" minOccurs="0" type="DATUM-EJMD"/>
   <xs:element name="EINDE-ONTZ-DAT" minOccurs="0" type="DATUM-EJMD"/>
  </xs:all>
 </xs:complexType>

 <xs:simpleType name="AAND-NAAM-GEBR">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="ADRES-REGEL">
  <xs:restriction base="xs:string">
   <xs:maxLength value="35"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="ADRES-REGEL-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="42"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="AUTOR-C-GEB-PL">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="4"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="BROMF-CERT-NR">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="10"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="BURG-STAAT">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="DATUM-EJMD">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="8"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GEB-PL-BUIT-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="42"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GEB-PL-BUITENL">
  <xs:restriction base="xs:string">
   <xs:maxLength value="35"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GEBR-IDENT">
  <xs:restriction base="xs:string">
   <xs:maxLength value="8"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GESL-NAAM">
  <xs:restriction base="xs:string">
   <xs:maxLength value="200"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GESL-NAAM-DIAKR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="200"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="HUIS-NR-NUM">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="5"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="HUIS-NR-TOEV">
  <xs:restriction base="xs:string">
   <xs:maxLength value="7"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="INDIC-JN">
  <xs:restriction base="xs:string">
   <xs:maxLength value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="INFO-GEBR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="52"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="LAND-CODE">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="4"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="LAND-CODE-ISO-3">
  <xs:restriction base="xs:string">
   <xs:maxLength value="3"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="NAAM-GEM-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="30"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="NAT-PERS-SL">
  <xs:restriction base="xs:string">
   <xs:maxLength value="16"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="ONGELD-CODE-BC">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="OPT-STAT-TEKST">
  <xs:restriction base="xs:positiveInteger">
   <xs:totalDigits value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="POSTC-ALF">
  <xs:restriction base="xs:string">
   <xs:maxLength value="2"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="POSTC-NUM">
  <xs:restriction base="xs:positiveInteger">
   <xs:totalDigits value="4"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="PROC-FUNC">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="2"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="PROC-IDENT">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="4"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="REDEN-EIND-NP">
  <xs:restriction base="xs:string">
   <xs:maxLength value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="SOORT-AUTOR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="STAT-RIP">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="2"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="STAT-TEKST-RIP">
  <xs:restriction base="xs:string">
   <xs:maxLength value="40"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="STRAAT-NAAM">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="STRAAT-NAAM-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="TEKST-24">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-LET">
  <xs:restriction base="xs:string">
   <xs:maxLength value="17"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-LET-DIAKR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="17"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-NAAM">
  <xs:restriction base="xs:string">
   <xs:maxLength value="28"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-NAAM-DIAKR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="28"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-VOEG-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="10"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-VOEG-DIAKR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="15"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="WOONPL-NAAM">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="WOONPL-NAAM-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="WW-AB-VERW">
  <xs:restriction base="xs:string">
   <xs:maxLength value="2"/>
  </xs:restriction>
 </xs:simpleType>

</xs:schema>
