gba-rdw/src/main/resources/xsd/PROC-1651-08.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PROC-1651-08" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>AANVRAGEN RYBEWYSKAART OVERZICHT</xs:documentation>
    <xs:documentation>Proces: Raadplegen persoonsgeg op A-nr, Sofi-nr of ryb-nr</xs:documentation>
    <xs:documentation>Functie: Antwoordbericht</xs:documentation>
    <xs:documentation>Versie: 3.0</xs:documentation>
    <xs:documentation>Gegenereerd op 08-03-2018 10:10</xs:documentation>
  </xs:annotation>
  <xs:element name="AAN-RYB-K-OVERZ" type="AAN-RYB-K-OVERZ" />
  <xs:complexType name="AAN-RYB-K-OVERZ">
    <xs:all>
      <xs:element name="ALG-GEG" type="ALG-GEG" />
      <xs:element name="RYB-GEG" minOccurs="0" type="RYB-GEG" />
      <xs:element name="NAT-PERSOON-GEG" type="NAT-PERSOON-GEG" />
      <xs:element name="ADRES-NAT-P-GEG" minOccurs="0" type="ADRES-NAT-P-GEG" />
      <xs:element name="AANVR-RYB-K-TAB" type="AANVR-RYB-K-TAB" />
      <xs:element name="APPL-MELD-GEG" minOccurs="0" type="APPL-MELD-GEG" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ALG-GEG">
    <xs:all>
      <xs:element name="GEBR-IDENT" type="GEBR-IDENT" />
      <xs:element name="PROC-IDENT" type="PROC-IDENT" />
      <xs:element name="PROC-FUNC" type="PROC-FUNC" />
      <xs:element name="STAT-RIP" minOccurs="0" type="STAT-RIP" />
      <xs:element name="OPT-STAT-TEKST" minOccurs="0" type="OPT-STAT-TEKST" />
      <xs:element name="INFO-GEBR" minOccurs="0" type="INFO-GEBR" />
      <xs:element name="KL-NR-EXT-TOEG" minOccurs="0" type="KLANT-NR-EXT" />
      <xs:element name="NETW-EXT-TOEG" minOccurs="0" type="NETWERK-EXT" />
      <xs:element name="EXT-DIENSTV-ID" minOccurs="0" type="EXT-DIENSTV-ID" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="RYB-GEG">
    <xs:all>
      <xs:element name="RYB-NR" type="RYB-NR" />
      <xs:element name="AFGIFTE-DAT-RYB" type="DATUM-EJMD" />
      <xs:element name="AUTOR-CODE-AFG" type="AUTOR-CODE-AFG" />
      <xs:element name="VERL-DIEFST-DAT" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="PROC-V-VERL-D" minOccurs="0" type="PROC-VERBAAL-NR" />
      <xs:element name="EIND-GELD-DAT-R" type="DATUM-EJMD" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="NAT-PERSOON-GEG">
    <xs:all>
      <xs:element name="NAT-PERS-SL" minOccurs="0" type="NAT-PERS-SL" />
      <xs:element name="GBA-NR-NAT-P" minOccurs="0" type="GBA-NR" />
      <xs:element name="NATIONAL-PERS" minOccurs="0" type="NATIONAL-PERS" />
      <xs:element name="FISC-NR-NAT-P" minOccurs="0" type="FISC-NR-NAT-P" />
      <xs:element name="GESL-NAAM-NAT-P" type="GESL-NAAM" />
      <xs:element name="VOOR-VOEG-NAT-P" minOccurs="0" type="VOOR-VOEG-DIA" />
      <xs:element name="VOOR-LET-NAT-P" minOccurs="0" type="VOOR-LET" />
      <xs:element name="ADEL-PRED-NAT-P" minOccurs="0" type="ADEL-PRED" />
      <xs:element name="VOOR-NAAM-NAT-P" minOccurs="0" type="VOOR-NAAM" />
      <xs:element name="VOORNAMEN-NAT-P" minOccurs="0" type="VOORNAMEN-NAT-P" />
      <xs:element name="GESL-AAND-NAT-P" minOccurs="0" type="GESL-AAND" />
      <xs:element name="BURG-ST-NAT-P" minOccurs="0" type="BURG-STAAT" />
      <xs:element name="NAAM-GEBR-NAT-P" minOccurs="0" type="AAND-NAAM-GEBR" />
      <xs:element name="GESL-NAAM-ECHTG" minOccurs="0" type="GESL-NAAM" />
      <xs:element name="VOOR-VOEG-ECHTG" minOccurs="0" type="VOOR-VOEG-DIA" />
      <xs:element name="ADEL-PRED-ECHTG" minOccurs="0" type="ADEL-PRED" />
      <xs:element name="AUTOR-C-GEB-PL" minOccurs="0" type="AUTOR-C-GEB-PL" />
      <xs:element name="GEB-PL-BUITENL" minOccurs="0" type="GEB-PL-BUITENL" />
      <xs:element name="GEB-DAT-NAT-P" type="DATUM-EJMD" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ADRES-NAT-P-GEG">
    <xs:all>
      <xs:element name="HUIS-NR-NAT-P" minOccurs="0" type="HUIS-NR-NUM" />
      <xs:element name="HUIS-TV-NAT-P" minOccurs="0" type="HUIS-NR-TOEV" />
      <xs:element name="WW-AB-VERW-NP" minOccurs="0" type="WW-AB-VERW" />
      <xs:element name="POSTC-N-NAT-P" minOccurs="0" type="POSTC-NUM" />
      <xs:element name="POSTC-A-NAT-P" minOccurs="0" type="POSTC-ALF" />
      <xs:element name="STRAAT-NAT-P" minOccurs="0" type="STRAAT-NAAM" />
      <xs:element name="WOONPL-NAT-P" minOccurs="0" type="WOONPL-NAAM" />
      <xs:element name="LOC-REGEL-NAT-P" minOccurs="0" type="ADRES-REGEL" />
      <xs:element name="WPL-REGEL-NAT-P" minOccurs="0" type="ADRES-REGEL" />
      <xs:element name="LAND-CODE-NAT-P" minOccurs="0" type="LAND-CODE" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="AANVR-RYB-K-TAB">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AANVR-RYB-K-GEG" type="AANVR-RYB-K-GEG" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AANVR-RYB-K-GEG">
    <xs:all>
      <xs:element name="SRT-AANVR-RYB-K" type="SRT-AANVR-RYB-K" />
      <xs:element name="CAT-AAN-RYB-TAB" minOccurs="0" type="CAT-AAN-RYB-TAB" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CAT-AAN-RYB-TAB">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CAT-AAN-RYB-GEG" type="CAT-AAN-RYB-GEG" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CAT-AAN-RYB-GEG">
    <xs:all>
      <xs:element name="RYB-CATEGORIE" type="RYB-CATEGORIE" />
      <xs:element name="CAT-MELDING" minOccurs="0" type="TEKST-80" />
      <xs:element name="GESCH-VERKL-GEG" minOccurs="0" type="GESCH-VERKL-GEG" />
      <xs:element name="RYV-VERKL-GEG" minOccurs="0" type="RYV-VERKL-GEG" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="GESCH-VERKL-GEG">
    <xs:all>
      <xs:element name="AFG-DAT-G-VERKL" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="E-DAT-G-VERKL" minOccurs="0" type="DATUM-EJMD" />
      <xs:element name="STATUS-G-VERKL" minOccurs="0" type="STATUS-G-VERKL" />
      <xs:element name="TOEL-BL-G-VERKL" minOccurs="0" type="TOEL-BLOKKERING" />
      <xs:element name="BEPERK-G-VERKL" minOccurs="0" type="BEPERK-G-VERKL" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="RYV-VERKL-GEG">
    <xs:all>
      <xs:element name="AFG-DAT-R-VERKL" type="DATUM-EJMD" />
      <xs:element name="STATUS-R-VERKL" type="STATUS-R-VERKL" />
      <xs:element name="TOEL-BL-R-VERKL" minOccurs="0" type="TOEL-BLOKKERING" />
      <xs:element name="AUT-IND-R-VERKL" minOccurs="0" type="INDIC-JN" />
      <xs:element name="CAT-BEPERK-IND" minOccurs="0" type="INDIC-JN" />
      <xs:element name="SRT-LEG-R-VERKL" minOccurs="0" type="SOORT-LEGITIM" />
      <xs:element name="LEG-NR-R-VERKL" minOccurs="0" type="LEGITIM-NR" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="APPL-MELD-GEG">
    <xs:all>
      <xs:element name="SYST-AFK" type="SYST-AFK" />
      <xs:element name="MELDING-NR" type="MELDING-NR" />
      <xs:element name="KORTE-MELDING" type="KORTE-MELDING" />
      <xs:element name="SOORT-MELDING" type="SOORT-MELDING" />
      <xs:element name="MELDING-VAR" minOccurs="0" type="MELD-VAR" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="AAND-NAAM-GEBR">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ADEL-PRED">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ADRES-REGEL">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AUTOR-C-GEB-PL">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AUTOR-CODE-AFG">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BEPERK-G-VERKL">
    <xs:restriction base="xs:string">
      <xs:maxLength value="72" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BURG-STAAT">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DATUM-EJMD">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXT-DIENSTV-ID">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FISC-NR-NAT-P">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GBA-NR">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GEB-PL-BUITENL">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GEBR-IDENT">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GESL-AAND">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GESL-NAAM">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HUIS-NR-NUM">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HUIS-NR-TOEV">
    <xs:restriction base="xs:string">
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="INDIC-JN">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="INFO-GEBR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="52" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KLANT-NR-EXT">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KORTE-MELDING">
    <xs:restriction base="xs:string">
      <xs:maxLength value="78" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LAND-CODE">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LEGITIM-NR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MELDING-NR">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MELD-VAR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NATIONAL-PERS">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NAT-PERS-SL">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NETWERK-EXT">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OPT-STAT-TEKST">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="POSTC-ALF">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="POSTC-NUM">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PROC-FUNC">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PROC-IDENT">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PROC-VERBAAL-NR">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RYB-CATEGORIE">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RYB-NR">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SOORT-LEGITIM">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SOORT-MELDING">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SRT-AANVR-RYB-K">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="STAT-RIP">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="STATUS-G-VERKL">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="STATUS-R-VERKL">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="STRAAT-NAAM">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SYST-AFK">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TEKST-80">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TOEL-BLOKKERING">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOOR-LET">
    <xs:restriction base="xs:string">
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOOR-NAAM">
    <xs:restriction base="xs:string">
      <xs:maxLength value="28" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOORNAMEN-NAT-P">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VOOR-VOEG-DIA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WOONPL-NAAM">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WW-AB-VERW">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
