gba-rdw/src/main/resources/xsd/PROC-0193-08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:annotation>
  <xs:documentation>Bericht: ZOEKEN RYBEWYSHOUDER OP NAAM</xs:documentation>
  <xs:documentation>Proces : Raadplegen persoon op naam in verband met opvoeren</xs:documentation>
  <xs:documentation>Functie: Antwoordbericht</xs:documentation>
  <xs:documentation>Versie: 3.0</xs:documentation>
  <xs:documentation>Gegenereerd op 14-04-2006 13:21</xs:documentation>
 </xs:annotation>

 <xs:element name="RYB-BEVR-NAAM" type="RYB-BEVR-NAAM"/>

 <xs:complexType name="RYB-BEVR-NAAM">
  <xs:all>
   <xs:element name="ALG-GEG" type="ALG-GEG"/>
   <xs:element name="NAT-P-ZOEK-GEG" type="NAT-P-ZOEK-GEG"/>
   <xs:element name="RYB-NAT-P-TAB" type="RYB-NAT-P-TAB"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="ALG-GEG">
  <xs:all>
   <xs:element name="GEBR-IDENT" type="GEBR-IDENT"/>
   <xs:element name="PROC-IDENT" type="PROC-IDENT"/>
   <xs:element name="PROC-FUNC" type="PROC-FUNC"/>
   <xs:element name="STAT-RIP" minOccurs="0" type="STAT-RIP"/>
   <xs:element name="OPT-STAT-TEKST" minOccurs="0" type="OPT-STAT-TEKST"/>
   <xs:element name="STAT-TEKST-RIP" minOccurs="0" type="STAT-TEKST-RIP"/>
   <xs:element name="INFO-GEBR" minOccurs="0" type="INFO-GEBR"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="NAT-P-ZOEK-GEG">
  <xs:all>
   <xs:element name="GESL-NAAM-NP-A" type="GESL-NAAM-NP"/>
   <xs:element name="VOOR-LET-NP-A" type="VOORLETTERS"/>
   <xs:element name="GEB-DAT-NP-A" type="DATUM-EJMD"/>
   <xs:element name="NAT-PERS-SL-L" minOccurs="0" type="NAT-PERS-SL"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="RYB-NAT-P-TAB">
  <xs:sequence>
   <xs:element name="RYB-NAT-P-GEG" maxOccurs="unbounded" type="RYB-NAT-P-GEG"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="RYB-NAT-P-GEG">
  <xs:all>
   <xs:element name="RYB-GEG" minOccurs="0" type="RYB-GEG"/>
   <xs:element name="NAT-PERSOON-GEG" type="NAT-PERSOON-GEG"/>
   <xs:element name="ADRES-NAT-P-GEG" type="ADRES-NAT-P-GEG"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="RYB-GEG">
  <xs:all>
   <xs:element name="RYB-NR" minOccurs="0" type="RYB-NR"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="NAT-PERSOON-GEG">
  <xs:all>
   <xs:element name="NAT-PERS-SL" type="NAT-PERS-SL"/>
   <xs:element name="GBA-NR-NAT-P" minOccurs="0" type="GBA-NR"/>
   <xs:element name="BURG-SERVICE-NR" minOccurs="0" type="FISC-NR-NAT-P"/>
   <xs:element name="GESL-NAAM-NAT-P" type="GESL-NAAM"/>
   <xs:element name="GESL-NAAM-NP-D" minOccurs="0" type="GESL-NAAM-DIAKR"/>
   <xs:element name="VOOR-VOEG-NAT-P" minOccurs="0" type="VOOR-VOEG"/>
   <xs:element name="VOOR-VOEG-NP-D" minOccurs="0" type="VOOR-VOEG-DIAKR"/>
   <xs:element name="VOOR-LET-NAT-P" minOccurs="0" type="VOOR-LET"/>
   <xs:element name="VOOR-LET-NP-D" minOccurs="0" type="VOOR-LET-DIAKR"/>
   <xs:element name="VOOR-NAAM-NAT-P" minOccurs="0" type="VOOR-NAAM"/>
   <xs:element name="VOOR-NAAM-NP-D" minOccurs="0" type="VOOR-NAAM-DIAKR"/>
   <xs:element name="SRT-AUT-GEB-PL" minOccurs="0" type="SOORT-AUTOR"/>
   <xs:element name="AUTOR-C-GEB-PL" minOccurs="0" type="AUTOR-C-GEB-PL"/>
   <xs:element name="GEMEENTE-GEB-PL" minOccurs="0" type="TEKST-24"/>
   <xs:element name="GEM-GEB-PL-DIA" minOccurs="0" type="NAAM-GEM-DIA"/>
   <xs:element name="LAND-C-ISO-GEB" minOccurs="0" type="LAND-CODE-ISO-3"/>
   <xs:element name="GEB-PL-BUITENL" minOccurs="0" type="GEB-PL-BUITENL"/>
   <xs:element name="GEB-PL-BUIT-DIA" minOccurs="0" type="GEB-PL-BUIT-DIA"/>
   <xs:element name="GEB-DAT-NAT-P" type="DATUM-EJMD"/>
   <xs:element name="EIND-DAT-NAT-P" minOccurs="0" type="DATUM-EJMD"/>
   <xs:element name="REDEN-EIND-NP" minOccurs="0" type="REDEN-EIND-NP"/>
   <xs:element name="VOORL-REG-IND" minOccurs="0" type="INDIC-JN"/>
  </xs:all>
 </xs:complexType>

 <xs:complexType name="ADRES-NAT-P-GEG">
  <xs:all>
   <xs:element name="HUIS-NR-NAT-P" minOccurs="0" type="HUIS-NR-NUM"/>
   <xs:element name="HUIS-TV-NAT-P" minOccurs="0" type="HUIS-NR-TOEV"/>
   <xs:element name="WW-AB-VERW-NP" minOccurs="0" type="WW-AB-VERW"/>
   <xs:element name="POSTC-N-NAT-P" minOccurs="0" type="POSTC-NUM"/>
   <xs:element name="POSTC-A-NAT-P" minOccurs="0" type="POSTC-ALF"/>
   <xs:element name="STRAAT-NAT-P" minOccurs="0" type="STRAAT-NAAM"/>
   <xs:element name="WOONPL-NAT-P" minOccurs="0" type="WOONPL-NAAM"/>
   <xs:element name="LOC-REG-NAT-P" minOccurs="0" type="ADRES-REGEL"/>
   <xs:element name="LOC-REG-NP-DIA" minOccurs="0" type="LOC-REGEL-DIA"/>
   <xs:element name="STRAAT-NP-DIA" minOccurs="0" type="STRAAT-NAAM-DIA"/>
   <xs:element name="WOONPL-NP-DIA" minOccurs="0" type="WOONPL-NAAM-DIA"/>
   <xs:element name="LAND-CODE-NAT-P" minOccurs="0" type="LAND-CODE"/>
   <xs:element name="LAND-C-ISO-NP" minOccurs="0" type="LAND-CODE-ISO-3"/>
  </xs:all>
 </xs:complexType>

 <xs:simpleType name="ADRES-REGEL">
  <xs:restriction base="xs:string">
   <xs:maxLength value="35"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="AUTOR-C-GEB-PL">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="4"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="DATUM-EJMD">
  <xs:restriction base="xs:nonNegativeInteger">
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="FISC-NR-NAT-P">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="9"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GBA-NR">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="10"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GEB-PL-BUIT-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="35"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GEB-PL-BUITENL">
  <xs:restriction base="xs:string">
   <xs:maxLength value="35"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GEBR-IDENT">
  <xs:restriction base="xs:string">
   <xs:maxLength value="8"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GESL-NAAM">
  <xs:restriction base="xs:string">
   <xs:maxLength value="200"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GESL-NAAM-DIAKR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="200"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="GESL-NAAM-NP">
  <xs:restriction base="xs:string">
   <xs:maxLength value="30"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="HUIS-NR-NUM">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="5"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="HUIS-NR-TOEV">
  <xs:restriction base="xs:string">
   <xs:maxLength value="7"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="INDIC-JN">
  <xs:restriction base="xs:string">
   <xs:maxLength value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="INFO-GEBR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="52"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="LAND-CODE">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="4"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="LAND-CODE-ISO-3">
  <xs:restriction base="xs:string">
   <xs:maxLength value="3"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="LOC-REGEL-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="42"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="NAAM-GEM-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="NAT-PERS-SL">
  <xs:restriction base="xs:string">
   <xs:maxLength value="16"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="OPT-STAT-TEKST">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="POSTC-ALF">
  <xs:restriction base="xs:string">
   <xs:maxLength value="2"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="POSTC-NUM">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="4"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="PROC-FUNC">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="2"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="PROC-IDENT">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="4"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="REDEN-EIND-NP">
  <xs:restriction base="xs:string">
   <xs:maxLength value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="RYB-NR">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="10"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="SOORT-AUTOR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="1"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="STAT-RIP">
  <xs:restriction base="xs:nonNegativeInteger">
   <xs:totalDigits value="2"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="STAT-TEKST-RIP">
  <xs:restriction base="xs:string">
   <xs:maxLength value="40"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="STRAAT-NAAM">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="STRAAT-NAAM-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="TEKST-24">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-LET">
  <xs:restriction base="xs:string">
   <xs:maxLength value="17"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-LET-DIAKR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="17"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOORLETTERS">
  <xs:restriction base="xs:string">
   <xs:maxLength value="2"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-NAAM">
  <xs:restriction base="xs:string">
   <xs:maxLength value="28"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-NAAM-DIAKR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="28"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-VOEG">
  <xs:restriction base="xs:string">
   <xs:maxLength value="10"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="VOOR-VOEG-DIAKR">
  <xs:restriction base="xs:string">
   <xs:maxLength value="10"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="WOONPL-NAAM">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="WOONPL-NAAM-DIA">
  <xs:restriction base="xs:string">
   <xs:maxLength value="24"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="WW-AB-VERW">
  <xs:restriction base="xs:string">
   <xs:maxLength value="2"/>
  </xs:restriction>
 </xs:simpleType>

</xs:schema>
